@font-face {
	font-family: 'Bringin';
	src: url('../fonts/bringin/Bringin.eot');
	src: url('../fonts/bringin/Bringin.eot?#iefix') format('embedded-opentype'),
	 	 url('../fonts/bringin/Bringin.ttf') format('truetype'),
		 url('../fonts/bringin/Bringin.woff') format('woff'),
		 url('../fonts/bringin/Bringin.woff2') format('woff2'),
		 url('../fonts/bringin/Bringin.svg#HelveticaLT-UltraCompressed') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans-Bold';
	src: url('../fonts/openSansBold/OpenSans-Bold.eot');
	src: url('../fonts/openSansBold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
	 	 url('../fonts/openSansBold/OpenSans-Bold.ttf') format('truetype'),
		 url('../fonts/openSansBold/OpenSans-Bold.woff') format('woff'),
		 url('../fonts/openSansBold/OpenSans-Bold.woff2') format('woff2'),
		 url('../fonts/openSansBold/OpenSans-Bold.svg#HelveticaLT-UltraCompressed') format('svg');
	font-weight: normal;
	font-style: normal;
}
